TAILSCALE_IP=100.x.x.x

POSTGRES_PASSWORD=

SILO_UID=1000
SILO_GID=1001
SILO_DB_PASSWORD=
SILO_MAIN_STORAGE_PATH=/mnt/...
SILO_MOVIES_STORAGE_PATH=/mnt/...

ZIGBEE2MQTT_USB_ADAPTER_ID=usb-abcd_USB_Serial-if00-port0
