services:
  dnsmasq:
    container_name: dnsmasq
    image: jpillora/dnsmasq:latest
    ports:
      - "${DNS_EXTERNAL_IP}:53:53/udp"
      - "${DNS_EXTERNAL_IP}:53:53/tcp"
      - "8080:8080"
    volumes:
      - ./persist/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf
    env_file: globals.env
    environment:
      HTTP_USER: bartekk
      HTTP_PASS: ${PASSWORD}
    restart: always
    networks:
      - main

  caddy:
    container_name: caddy
    image: caddy:2.11-alpine
    ports:
      - "80:80"
      - "443:443"
    env_file: globals.env
    volumes:
      - socket-data:/run/sockets
      - ./persist/caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./ssl/out:/etc/caddy/certs
    restart: unless-stopped
    networks:
      - main
    depends_on:
      - dnsmasq
      - copyparty
      - homeassistant

  copyparty:
    container_name: copyparty
    image: copyparty/iv:1.20.1
    env_file: globals.env
    environment:
      # Up to 3x performance boost, may double RAM usage
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.2
    volumes:
      - socket-data:/run/sockets
      - ./persist/copyparty/cfg:/cfg
      - ./copyparty:/mnt/Internal
      # External storage
      - /mnt/Magazyn:/mnt/Magazyn
    restart: unless-stopped
    networks:
      - main

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    privileged: true
    ports:
      - "8123:8123"
    env_file: globals.env
    volumes:
      - ./persist/homeassistant/config:/config
      - /run/dbus:/run/dbus:ro
      # External storage
      - /mnt/Magazyn:/mnt/Magazyn:ro
    restart: unless-stopped
    networks:
      - main

volumes:
  socket-data:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: "size=10M,mode=1777"

networks:
  main:
