services:
  dnsmasq:
    container_name: dnsmasq
    image: jpillora/dnsmasq:latest
    ports:
      - "${DNS_EXTERNAL_IP}:53:53/udp"
      - "${DNS_EXTERNAL_IP}:53:53/tcp"
      - "8080:8080"
    volumes:
      - ./persist/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf
    env_file: globals.env
    environment:
      HTTP_USER: bartekk
      HTTP_PASS: ${PASSWORD}
    restart: always
    networks:
      - main

  wol_sender:
    container_name: wolsender
    build: ./wol_sender_app
    network_mode: host
    restart: unless-stopped

  caddy:
    container_name: caddy
    image: caddy:2.11-alpine
    ports:
      - "80:80"
      - "443:443"
    env_file: globals.env
    volumes:
      - socket-data:/run/sockets
      - /dev/shm:/run/host_shm:rw
      - ./persist/caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./ssl/out:/etc/caddy/certs
    restart: unless-stopped
    networks:
      - main
    depends_on:
      - dnsmasq
      - copyparty
      - homeassistant

  copyparty:
    container_name: copyparty
    image: copyparty/iv:1.20.1
    env_file: globals.env
    environment:
      # Up to 3x performance boost, may double RAM usage
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.2
    stop_grace_period: 15s
    volumes:
      - socket-data:/run/sockets
      - ./persist/copyparty/cfg:/cfg
      - ./copyparty/internal:/mnt/Internal
      # External storage
      - /mnt/Magazyn:/mnt/Magazyn:rw,rslave
    restart: unless-stopped
    networks:
      - main

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    privileged: true
#    network_mode: host
    ports:
      - "8123:8123"
    env_file: globals.env
    volumes:
      - ./persist/homeassistant/config:/config
      - /run/dbus:/run/dbus:ro
      # External storage
      - /mnt/Magazyn:/mnt/Magazyn:ro,rslave
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "pc.docker.internal:${PC_IP}"
    networks:
      - main

  djabbot:
    container_name: djabbot
    network_mode: host
    image: ghcr.io/bartosz-kakol/dj_angry_birds_bot:1.0.0
    env_file: globals.env
    environment:
      TOKEN: ${DJAB_TOKEN}
      CLIENT_ID: ${DJAB_CLIENT_ID}
    restart: always
#    networks:
#      - main

volumes:
  socket-data:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: "size=10M,mode=1777"

networks:
  main:
